/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/.pub-cache/
/build/

/apps/admin_web/node_modules/
/apps/admin_web/dist/
/apps/admin_web/.vite/
/apps/admin_web/.eslintcache
/apps/admin_web/coverage/

/backend/target/
/target/

**/.DS_Store
**/.idea/
**/.vscode/
**/Thumbs.db

*.log
*.tmp
*.swp
